@*
    Tìm kiếm sản phẩm
*@

@using X.PagedList
@using SellPhoneWebsite.Models.Entities
@model ProductViewModel
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="main-nav-list">
                            <a asp-action="index" asp-route-categoryId="@category.ID" >
                                <span class="lnr lnr-arrow-right"></span>@category.Name<span class="number">(@category.Products.Count())</span>
                            </a>
                        </li>
                    }
                </ul>
            </div> 
            <div class="sidebar-filter mt-50">
                <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <div id="lower-value"></div><span>đ</span>
                            <div class="to">to</div>
                            <div id="upper-value"></div><span>đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select onchange="location = this.value;">
                        <option value="@Url.Action("Index")">
                            Clear filter
                        </option>

                        <option value="@Url.Action("Index", new { sortOrder = "price_asc", pageSize = Context.Request.Query["pageSize"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Price up
                        </option>

                        <option value="@Url.Action("Index", new { sortOrder = "price_desc", pageSize = Context.Request.Query["pageSize"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Price down
                        </option>
                    </select>
                </div>

                <div class="sorting mr-auto">
                    <select onchange="location = this.value;">
                        <option value="@Url.Action("Index", new { pageSize = 15, sortOrder = Context.Request.Query["sortOrder"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Show 15
                        </option>

                        <option value="@Url.Action("Index", new { pageSize = 24, sortOrder = Context.Request.Query["sortOrder"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Show 24
                        </option>

                        <option value="@Url.Action("Index", new { pageSize = 30, sortOrder = Context.Request.Query["sortOrder"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Show 30
                        </option>
                    </select>
                </div>

                <div class="pagination">
                    @Html.PagedListPager(
                    Model.Products,
                                        page => Url.Action("Index",
                                        new RouteValueDictionary(
                                        Context.Request.Query.ToDictionary(
                                        x => x.Key,
                                        x => (object?)x.Value.ToString()
                                        )
                                        )
                                        {
                                            ["page"] = page
                                        }
                                        ),
                                        new PagedListRenderOptions
                                        {
                                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                            DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                            DisplayLinkToIndividualPages = true,
                                            MaximumPageNumbersToDisplay = 5
                                        }
                                        )
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">

                    @foreach (var product in Model.Products)
                    {
                        <!-- single product -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <img style="height:200px; width:200px" class="img-fluid" src="@(product.ProductImages.Count() != 0 ? product.ProductImages.FirstOrDefault().URL : "")" alt="">
                                <div class="product-details">
                                    <h6>
                                        @product.Name
                                    </h6>
                                    <div class="price">
                                        <h6>@product.Price.ToString("N0") ₫</h6>
                                        <h6 class="l-through">...</h6>
                                    </div>
                                    <div class="prd-bottom">
                                        <a href="" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">add to cart</p>
                                        </a>
                                        <a asp-action="ProductDetail" asp-controller="products" asp-route-id="@product.ID" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">view more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select onchange="location = this.value;">
                        <option value="@Url.Action("Index")">
                            Clear filter
                        </option>

                        <option value="@Url.Action("Index", new { sortOrder = "price_asc", pageSize = Context.Request.Query["pageSize"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Price up
                        </option>

                        <option value="@Url.Action("Index", new { sortOrder = "price_desc", pageSize = Context.Request.Query["pageSize"], keyword = Context.Request.Query["keyword"], categoryId = Context.Request.Query["categoryId"] })">
                            Price down
                        </option>
                    </select>
                </div>

                @Html.PagedListPager(
                Model.Products,
                                page => Url.Action("Index",
                                new RouteValueDictionary(
                                Context.Request.Query.ToDictionary(
                                x => x.Key,
                                x => (object?)x.Value.ToString()
                                )
                                )
                                {
                                    ["page"] = page
                                }
                                ),
                                new PagedListRenderOptions
                                {
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayLinkToIndividualPages = true,
                                    MaximumPageNumbersToDisplay = 5
                                }
                                )
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>

<!-- Start related-product Area -->
<section class="related-product-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r2.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r3.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r5.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r6.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r7.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r9.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r10.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r11.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->